<ion-view title="Friends" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h2 id="friends-heading4" style="color:#000000;">Map showing friends</h2>
    <div id="friends-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Map detailing friends locations.</p>
    </div>
    <ion-list id="friends-list8">
      <ion-item class="item-divider" id="friends-list-item-divider4"> Item</ion-item>
      <ion-item id="friends-list-item17">Item 1</ion-item>
      <ion-item id="friends-list-item18">Item 2</ion-item>
      <ion-item id="friends-list-item19">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>