<ion-view title="Profile" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list4">
      <ion-item class="item-avatar" id="profile-list-item7">
        <h2>Name</h2>
      </ion-item>
    </ion-list>
    <form id="profile-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="profile-toggle4">Various</ion-toggle>
      <ion-radio id="profile-radio3">Profile</ion-radio>
      <label class="item item-input" id="profile-input3">
        <span class="input-label">Settings</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="profile-button5" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>