<ion-view title="Settings" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="settings-markdown8" class="show-list-numbers-and-dots"></div>
    <ion-list id="settings-list11">
      <ion-item class="item-divider" id="settings-list-item-divider5"> Default Map Scale</ion-item>
      <ion-item class="range range-positive" id="settings-range4">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <ion-list id="settings-list12">
      <ion-item class="item-divider" id="settings-list-item-divider6"> Other setting</ion-item>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Toggle</ion-toggle>
    </ion-list>
    <form id="settings-form6" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Toggle</ion-toggle>
    </form>
    <form id="settings-form7" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle7">Toggle</ion-toggle>
    </form>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <ion-list id="settings-list13">
      <ion-item class="item-divider" id="settings-list-item-divider7"> Another Setting</ion-item>
      <form id="settings-form8" class="list">
        <ion-toggle toggle-class="toggle-positive" id="settings-toggle9">Toggle</ion-toggle>
        <ion-radio id="settings-radio5">Radio</ion-radio>
        <label class="item item-input" id="settings-input11">
          <span class="input-label">Input</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
  </ion-content>
</ion-view>